DB_HOST=localhost
DB_USER=fitness
DB_PASS=fitness
DB_NAME=final
# Uncomment and set to true for Heroku
# DB_SSL=true if heroku
DB_PORT=5432




DB_HOST=localhost
DB_USER=labber
DB_PASS=labber
DB_NAME=final
# Uncomment and set to true for Heroku
# DB_SSL=true if heroku
DB_PORT=5432
DATABASE_URL=postgresql://labber:labber@localhost:5432/final
